.transaction-history {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody {
  background-color: gainsboro;
}

thead {
  background-color: aqua;
}

th {
  padding: 10px;
  border: 1px solid black;
}

td {
  padding: 10px 20px;
  border: 1px solid black;
}
