.profile {
  margin-bottom: 80px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.avatar {
  background-color: beige;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.stats {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.label {
  display: flex;
  margin-bottom: 3px;
}
