.statistics {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.stat_list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
